#bloc_page
{
    font-family: raleway, arial;
    font-size: 12px;
    margin:0px 30px 0px 30px;
}

#bloc_page .b
{
    color:#0065fc;
    font-weight: bold;
}
#bloc_page .v
{
    color: #f2f2f2;
    font-weight:bold;
}
h2
{
    font-size: 16px;
}

                    /*****HEADER*****/
header img
{
    width: 96px;
    height: 40px;
}
.inscrire
{

    display:flex;
}
.inscrire a{
    color: #0065fc;
}
.ancre 
{
    display: flex;
    align-items: flex-end;
}
.ancre a
{
    color: black;
}
.menu
{
    display:flex;
    flex-direction: row;
}
header a{
    display: flex;
    text-decoration: none;
    width: 150px;
    align-items: flex-end;
    justify-content: center;
}
.ancre a:hover
{
    border-top: solid #0065fc;
    color: #0065fc;
    padding-top: 10px;
}

header
{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top:40px;
}


                    /*****SECTION CHOIX*****/
.intro
{
    line-height: 20px;;
    margin-top: 40px;
}
.intro strong
{
    font-size: 16px;
}
.bouton
{
    background-color: #0065fc;
    color: white;
    width: 135px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border:#0065fc;
    font-weight: bold;
}
.fa-search
{
    background-color: #0065fc;
    color:white;
    border: solid #0065fc;
    border-radius:20px;
    padding: 17px 18px 13px 18px;
    visibility: hidden;
}

.fa-map-marker-alt
{   background: #f2f2f2;
    padding:17px 20px 15px 20px;
    font-size: 17px; 
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}
.ville
{
    border: solid  #f2f2f2;
    border-width: thin;
    font-weight: bold;
    padding-left: 20px; 
}
.input_container
{
    display: flex;
    height: 50px;
    margin-top: 19px;  
}
.filtres a
{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    border: solid #f2f2f2;
    border-radius:30px;
    margin-right: 10px;
    padding-right:20px;
}
.filtres h4
{
    margin: 15px 10px 15px 10px; 
}
.filtres li
{
    margin-top: 10px;
    margin-right: 24px;
}
.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog
{
    color:#0065fc;
    background-color:#deebff;
    border-radius: 50%;
    float: left;
    height: 20px;
    padding: 17px 18px 13px 18px;
}
.filtres ul
{
    list-style-type: none;
    display: flex;
}
.filtres a:hover
{
    color:#0065fc;
}
.filtres a{
    color:black;
}
#choix .filtres
{
    display: flex;
    align-items: center;
}
#choix
{
    display:flex;
    flex-direction: column; 
}
.fa-info
{
    color:#0065fc;
    height: 12px;
    border-radius: 50%;
    border: solid #f2f2f2;
    background-color: white;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    
}
.info
{
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}
                    /****HEBERGEMENT*****/
.auberge,.hotel_du_port,.hotel_les_mouettes,.hotel_de_la_mer,.auberge_le_panier,.hotel_chez_amina
{
    display: flex;
    flex-direction: column;
    border: solid #f2f2f2;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    line-height: 0.1em;
    width: 245px;
    height: 199px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.auberge img,.hotel_du_port img,.hotel_les_mouettes img,.hotel_de_la_mer img,.auberge_le_panier img,.hotel_chez_amina img
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top:2px;
    width: 240px;
    height: 140px;
    object-fit: cover;
}
#bloc a
{
    text-decoration: none;
    text-align: left;
    color: black;
}
#bloc a:hover
{
    color:#0065fc;
}
.hebergements
{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 840px;
    height: 500px;
    background-color: #f2f2f2;

}

#bloc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #f2f2f2;
    height: 600px;
    width: 860px;
    padding-bottom:40px;
    border-radius: 20px;
}
                    /*****SECTION POPULAIRE*****/
#pop .haut
{
    display:flex;
    justify-content: space-around;
}
.haut h2
{
    margin-right:80px;
}
.fa-chart-line
{
    margin-left: 80px;
}
.pop h3
{
    margin-bottom: -10px;
}
#pop .haut
{
    display: flex;
    align-items: center;
    width: 341px;;
}
.pop
{
    display: flex;
    flex-direction: column;
    width: 133px;
    font-style: normal;
}
.hotel_le_soleil_du_matin,.Au_coeur_de_leau,.tou_bleu_et_blanc
{
    width: 345px;
    height: 144px;
    border-radius: 20px;
    background-color: white; 
    margin-bottom: 20px;
    border: solid white;
    box-shadow: -1px 5px 15px -3px #e3e3e3; 
}
.hotel_le_soleil_du_matin img,.Au_coeur_de_leau img,.tou_bleu_et_blanc img
{
    width: 119px;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    padding: 2px 2px 2px 1px;
    margin-right:40px;
    object-fit: cover;  
}
.hotel_le_soleil_du_matin a,.Au_coeur_de_leau a,.tou_bleu_et_blanc a
{
    text-decoration: none;
    color: black;
    display: flex;
    border-radius:20px;
    width: 340px;
}
.hotel_le_soleil_du_matin a:hover,.Au_coeur_de_leau a:hover,.tou_bleu_et_blanc a:hover
{
    color: #0065fc;
}
#pop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 421px;
    height: 600px;
}
#dodo
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:64px;
}
                    /*****ACTIVITE*****/
#activites h3
{
    margin-left:10px;
}
.port img, .les_calanques img{
    width: 301px;
    height: 390px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.pomegue img
{
    width: 304px;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.frioul img
{
    width: 304px;
    height: 109px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.notre_dame img
{
    width: 304px;
    height: 137px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.longchamp img
{
    width: 304px;
    height: 154px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
#choix_activite a
{
    text-decoration: none;
    color: black;
}
#choix_activite a:hover
{
    color: blue;
}
.port a,.les_calanques a
{
    display: flex;
    flex-direction: column;
    width: 301px;
    height: 443px;
    border-radius: 20px; 
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.pomegue a
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 304px;
    height: 241px;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
    margin-bottom: 40px;
}
.frioul a
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 304px;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.notre_dame a 
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 304px;
    height: 197px;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
    margin-bottom: 40px;
}
.longchamp a
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 304px;
    height: 210px;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.pofri
{ 
    display: flex;
    flex-direction: column;
}
.dalon
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#choix_activite
{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
#activites
{
    display:flex;
    flex-direction: column;
    padding-left:50px;
}
                    /*****FOOTER*****/
.propos,.nos_hebergement,.assistance
{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 150px;
}
footer li
{
    list-style-type: none;
    line-height: 23px;
}
footer a
{
    text-decoration: none;
}
footer 
{ 
    font-family: raleway, arial;
    font-size: 12px;
    display: flex;
    background-color: #f2f2f2;
    margin-top: 58px;
}
                /*****style mobile*****/
@media screen and (max-width:750px){
    #bloc_page{
        width: 375px;
        margin-left:-8px;
    }
                                            /*****HEADER*****/
    span.inscrire{
        display: flex;
        justify-content: center;
        margin-left:170px;
    }
    header{
        width: 100%;
    }
    header img{
        width: 90px;
        padding-left:15px;
        margin-bottom:-15px;
    }
    .menu{
        flex-wrap:wrap-reverse;
    }
    header a{
        margin-top:10px;
        width: 100%;
        align-items: baseline;
    }
    .ancre{
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        margin-left:-80px;
        margin-top:30px;
        margin-bottom:-50px;
        align-items: baseline;
    }
    .ancre a:hover{
        border-bottom:solid #0065fc;
        padding-bottom:20px;
        border-top:none;
    }
                                            /*****SECTION CHOIX*****/
    .intro{
        width:240px;
        padding-left: 15px;
        margin-top:20px;
    }
    #choix{
       width: 100%;
       margin-top:65px;
       border-top: solid #f2f2f2;
    }
    .fa-map-marker-alt{
        padding:16px 20px 16px 19px;
    }
    .input_container{
        width: 333px;
        padding-left:15px;
        height:47px;
    }
    .filtres ul{
        flex-wrap: wrap;
        width: 333px;
    }
    .filtres a{
        margin-left:-35px;
        margin-right: 25px;
    }
    #choix .filtres{
        width:328px;
        flex-direction:column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-left:15px;
    }
    .fa-info{
        margin-bottom:15px;
        margin-right:7px;
    }
    .info{
        width: 250px;
        margin-bottom: 10px;
        margin-top:10px;
        margin-left:15px;
    }
    .fa-search{
        visibility: visible;
    }
    .bouton{
        display:none;
    }

                                            /*****HEBERGEMENT*****/
    #dodo{
        flex-direction: column-reverse;
        width: 100%;
       
    }
    .hotel_le_soleil_du_matin a,.Au_coeur_de_leau a,.tou_bleu_et_blanc a{
        width:335px;
        height:145px;
    }
    .hotel_le_soleil_du_matin,.Au_coeur_de_leau,.tou_bleu_et_blanc{
        width: 335px;
    }
    #pop{
        width: 100%;
        height: 578px; 
        border-radius:0;
    }
    .auberge img,.hotel_du_port img,.hotel_les_mouettes img,.hotel_de_la_mer img,.auberge_le_panier img,.hotel_chez_amina img{
        width:100%;
        margin-top:-20px;
        height: 115px;
        width: 325px;
        object-fit: cover;
    }
    .auberge,.hotel_du_port,.hotel_les_mouettes,.hotel_de_la_mer,.auberge_le_panier,.hotel_chez_amina{
        height: 200px;
        width: 336px;
        margin-bottom:2px;
    }
    .hebergements{
        flex-direction: column;
        height:1250px;
        background-color: white;
        width: 336px;
    }
    #bloc{
        width: 336px;
        height:1370px;
        justify-content: space-between;
        padding-left:10px;
        margin-top: 20px;
        background-color: white;
    }
    #bloc h2{
        margin-bottom:-50px;
        width: 100%;
    }
                                                /*****ACTIVITE*****/
    #activites img{
        width: 335px;
        height: 135px;
        object-fit: cover;
    }
    #activites a{
        width:335px;
        height: 199px;
        margin-bottom:15px;
    }
    #choix_activite{
        flex-direction: column;
    }
    #activites h2{
        width: 100%;
    }
    #activites{
        width: 100%;
        margin-top:-70px;
        padding-left:15px;
    }
                                            /*****FOOTER*****/
    .propos,.nos_hebergement,.assistance{
        width: 375px;
    }
    footer{
        flex-direction: column;
        width: 100%;
        margin-top:20px;
    }
}

