body{
    margin:0;
    padding:0;
}
#bloc_page
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    max-width: 1200px;
    margin: auto;
}

#bloc_page .b
{
    color:#0065fc;
    font-weight: bold;
}
#bloc_page .v
{
    color: #f2f2f2;
    font-weight:bold;
}
h2
{
    font-size: 16px;
}

                    /*****HEADER*****/
header img
{
    width: 96px;
    height: 40px;
}
.inscrire
{
    display:flex;
    margin-left:15px;
}
.inscrire a{
    color: #0065fc;
}
.ancre 
{
    display: flex;
}
.ancre a
{
    color: black;
    margin-left:15px;
}
.menu
{
    display:flex;
    flex-direction: row;
}
header a{
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
}
.ancre a:hover
{
    border-top: solid #0065fc;
    color: #0065fc;
    padding-top: 60px;
}

header
{
    display: flex;
    justify-content: space-between;
    
    margin-top:40px;
}


                    /*****SECTION CHOIX*****/
.intro
{
    line-height: 20px;;
    margin-top: 40px;
}
.intro strong
{
    font-size: 16px;
}
.bouton
{
    background-color: #0065fc;
    color: white;
    width: 135px;
    border:#0065fc;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
}
.fa-search
{
    background-color: #0065fc;
    color:white;
    border-radius:20px;
    padding: 17px 18px 13px 18px;
    visibility: hidden;
}

.fa-map-marker-alt
{   background: #f2f2f2;
    padding:17px 20px 15px 20px;
    font-size: 17px; 
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}
.ville
{
    border: solid  #f2f2f2;
    border-width: thin;
    font-weight: bold;
    padding-left: 20px; 
}
.input_container
{
    display: flex;
    height: 50px;
    margin-top: 19px;  
}
.filtres a
{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    border: solid #f2f2f2;
    border-radius:30px;
   
}
.filtres h4
{
    margin: 15px 10px 15px 10px; 
}
.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog
{
    color:#0065fc;
    background-color:#deebff;
    border-radius: 50%;
    float: left;
    height: 20px;
    padding: 17px 18px 13px 18px;
}
.filtres ul
{
    list-style-type: none;
    display: flex;
    width: 60%;
    padding-left:0;
    justify-content: space-around;
    align-content: flex-start;
}
.filtres a:hover
{
    color:#0065fc;
}
.filtres a{
    color:black;
}
#choix .filtres
{
    display: flex;
    align-items: center;
}
#choix
{
    display:flex;
    flex-direction: column;
}
.fa-info
{
    color:#0065fc;
    height: 12px;
    border-radius: 50%;
    border: solid #f2f2f2;
    background-color: white;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
}
.info
{
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}
                    /****HEBERGEMENT*****/
.hotel
{
    display: flex;
    flex-direction: column;
    border: solid #f2f2f2;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    line-height: 0.1em;
    width: 30%;
    height: 199px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.hotel img
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top:2px;
    margin-left:2px;
    width: 98%;
    height: 140px;
    object-fit: cover;
}
#bloc a
{
    text-decoration: none;
    text-align: left;
    color: black;
    
}
#bloc a:hover
{
    color:#0065fc;
}
.hebergements
{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    margin-top:20px;
    background-color: #f2f2f2;
}

#bloc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2; 
    width: 60%;
    border-radius: 20px;
    padding:30px;
}
                    /*****SECTION POPULAIRE*****/
.fa-chart-line
{
    margin-left: 80px;
}
.pop h3
{
    margin-bottom: -10px;
}
#pop .haut
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%
}
.populaire{
    margin-top:20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.pop
{
    display: flex;
    flex-direction: column;
    height: 80%;
    font-style: normal;
    margin-left: -30px;
}
.populaire .star{
    margin-top:-30px;
}
.hotel_pop
{
    height: 25%;
    border-radius: 20px;
    border: solid white;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
    margin-bottom:15px; 
}
.hotel_pop img
{
    width: 45%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    padding: 2px 2px 2px 1px;
    margin-right:40px;
    object-fit: cover; 
}
.hotel_pop a
{
    text-decoration: none;
    color: black;
    background-color: white;
    display: flex;
    border-radius:20px;
    width: 100%;
    height: 100%;
}
.hotel_pop a:hover
{
    color: #0065fc;
}
#pop
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 25%;
    padding:30px;
}
#dodo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:64px;
}
                    /*****ACTIVITE*****/
#activites h3
{
    margin-left:10px;
}
.port img, .les_calanques img{
    width: 100%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.port a,.les_calanques a
{
    display: flex;
    flex-direction: column;
    height: 90%;
    border-radius: 20px; 
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.port,.les_calanques
{
    width: 23%;
    height: 470px;
}
.pomegue img
{
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.frioul img
{
    width: 100%;
    height: 100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.frioul a
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 80%;
    height: 90%;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.pomegue a
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 80%;
    height:20%;
    margin-bottom: 60px;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.pofri{
    width: 23%;
    height:460px;
}
.notre_dame img,.longchamp img
{
    width: 100%;
    height: 70%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.notre_dame a,.longchamp a
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 70%;
    box-shadow: -1px 5px 15px -3px #e3e3e3;
}
.dalon
{ 
    display: flex;
    flex-direction: column;
    width: 23%;
    height:460px;
}
#choix_activite a
{
    text-decoration: none;
    color:black
}
#choix_activite a:hover
{
    color: blue;
}
#choix_activite
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
#activites
{
    display:flex;
    flex-direction: column;
}
                    /*****FOOTER*****/
.propos,.nos_hebergement,.assistance
{
    display: flex;
    flex-direction: column;
    width: 20%;
}
footer li
{
    list-style-type: none;
    line-height: 23px;
}
footer a
{
    text-decoration: none;
    color:black;
}
footer 
{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin-top: 58px;
}





                /*****style mobile*****/
@media screen and (min-width:300px) and (max-width:750px){
    #bloc_page{
        width: 100%;
    }
                                            /*****HEADER*****/
    span.inscrire{
        display: flex;
        justify-content: center;
        margin-left:120px;
        margin-top: 20px;
    }
    header img{
        width: 90px;
        padding-left:15px;
        margin-bottom:-15px;
    }
    .menu{
        flex-wrap:wrap-reverse;
    }
    .ancre{
        align-items: flex-start;
        margin-top:60px;
        margin-bottom:-50px;
        margin-left: -60px;
    }
    .ancre a{
        margin-right:70px;
    }
    .ancre a:hover{
        border-bottom:solid #0065fc;
        padding-bottom:20px;
        border-top:none;
    }

                                            /*****SECTION CHOIX*****/
    .intro{
        width: 70%;
        padding-left: 15px;
        margin-top:20px;
    }
    #choix{
        width: 100%;
        margin-top:65px;
        border-top: solid #f2f2f2;
     }
     .input_container{
        width:80%;
        padding-left:15px;
    }
    .filtres ul li:first-child{
        order:1;
    }
    .filtres ul li:nth-child(3){
        order:2;
    }
    .filtres ul li:nth-child(4){
        order:3;
    }
    .filtres ul li:nth-child(2){
        order:4
    }
  
    .filtres ul{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
        height:200px;
        width: 95%;
        justify-content: flex-start;
    }
   
    #choix .filtres{
        flex-direction:column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .info{
        width: 75%;
        align-items: baseline;
        margin-bottom: 10px;
        margin-top:10px;
        margin-left:10px;
    }
    .fa-search{
        visibility: visible;
    }
    .bouton{
        display:none;
    }

                                            /*****HEBERGEMENT*****/
    #dodo{
        flex-direction: column-reverse;
        width: 100%;
    }
    #pop h2{
        margin-right:20px;
    }
    #pop .haut{
        margin-bottom:-30px;
    }
    #pop{
        width: 95%;
        padding-bottom:20px;
        border-radius:0;
    }
    .populaire .star{
        margin-top:-30px;
    }
    .pop{
        margin-top:-15px;
    }
    .hotel_pop{
        height: 145px;  
    }
    .hotel{
        margin-bottom:2px;
        width: 95%;
    }
    .hebergements{
        flex-direction: column;
        height:1250px;
        background-color: white;
    }
    #bloc{
        width: 95%;
        height:1330px;
        justify-content: space-between;
        margin-top: 20px;
        background-color: white;
    }
    #bloc h2{
        margin-bottom:-50px;
        width: 90%;
    }
                                                /*****ACTIVITE*****/
    .port,.les_calanques,.dalon,.pofri{
        width: 100%;
        height: 1600px;
    }
    .port,.les_calanques{
        height: 190px;
        margin-top:20px;
    }
   .dalon,.pofri{
       height: 400px;
       margin-top:20px;
   }
    .port a,.les_calanques a,.dalon a,.pofri a{
        width: 95%;
        height:190px;
        margin-bottom:20px;
    }
    #choix_activite img{
        height:135px ;
    }
    #choix_activite{
        flex-direction: column;
        width: 95%;
    }
    #activites h2{
        width: 90%;
    }
    #activites{
        width: 100%;
        margin-top:-70px;
        padding-left:20px;
    }
                                            /*****FOOTER*****/
    .propos,.nos_hebergement,.assistance{
        width: 60%;
    }
    footer{
        flex-direction: column;
        width: 95%;
        
        background-color: #f2f2f2;
        margin-top:20px;
    }
}






@media screen and (min-width:750px) and (max-width:1100px){  
    #choix .filtres{
        width: 100%;
        justify-content: space-around;
    }    
    .filtres ul{
        width: 100%;

    }        
                                                /*****SECTION HEBERGEMENT*****/
    #dodo{
        flex-direction: column-reverse;
    }
    .populaire{
        display: flex;
        flex-direction:row;
    }
    #pop{
        width: 92%;
        background-color: white;
    }
    .pop
    {
        display: flex;
        flex-direction: column;
        margin-left:0px;
    }
    .haut{
        margin-left:-90px;
    }
    .hotel_pop{
        height: 135px;
    }
    .hotel_pop img{
        margin-right:0px;
    }
    #bloc{
        width: 92%;
        margin-top:10px;
    }
                                            /*****ACTIVITE*****/
    
    .port a,.les_calanques a{
        width: 90%;
    }
    .port img,.les_calanques img{
        height: 80%;
    }
    .dalon{
        width: 30%;
        height:460px;
    }
    .notre_dame img,.longchamp img{
        height: 60%;
    }  
    .pofri a{
        width: 90%;
    }
    .notre_dame a,.longchamp a{
        width: 90%;
        height:80%;
        margin-bottom:60px;
    }
    #choix_activite{
        width: 100%;
    }
    #activites{
        width: 97%;
        margin-top:-50px;
        margin-left:15px;
        padding-left:20px;
        background-color: #f2f2f2;
        border-radius: 20px;
        
    }
                                            /*****FOOTER*****/
    .propos,.nos_hebergement,.assistance{
        width: 60%;
    }
    footer{
        width: 100%;
        background-color: #f2f2f2;
        margin-top:20px;
    }
}